/nester.pyc
/nester/MANIFEST
/nester/build/lib/nester.py
/nester/dist/nester-1.0.0.tar.gz
/nester/nester.pyc
/nester/setup.py
/venv/bin/activate
/venv/bin/activate.csh
/venv/bin/activate.fish
/venv/bin/activate_this.py
/venv/bin/easy_install
/venv/bin/easy_install-2.7
/venv/bin/pip
/venv/bin/pip-2.7
/venv/bin/python
/venv/include/python2.7
/venv/lib/python2.7/UserDict.py
/venv/lib/python2.7/UserDict.pyc
/venv/lib/python2.7/_abcoll.py
/venv/lib/python2.7/_abcoll.pyc
/venv/lib/python2.7/_weakrefset.py
/venv/lib/python2.7/_weakrefset.pyc
/venv/lib/python2.7/abc.py
/venv/lib/python2.7/abc.pyc
/venv/lib/python2.7/codecs.py
/venv/lib/python2.7/codecs.pyc
/venv/lib/python2.7/config
/venv/lib/python2.7/copy_reg.py
/venv/lib/python2.7/copy_reg.pyc
/venv/lib/python2.7/distutils/__init__.py
/venv/lib/python2.7/distutils/__init__.pyc
/venv/lib/python2.7/distutils/distutils.cfg
/venv/lib/python2.7/encodings
/venv/lib/python2.7/fnmatch.py
/venv/lib/python2.7/fnmatch.pyc
/venv/lib/python2.7/genericpath.py
/venv/lib/python2.7/genericpath.pyc
/venv/lib/python2.7/lib-dynload
/venv/lib/python2.7/linecache.py
/venv/lib/python2.7/linecache.pyc
/venv/lib/python2.7/locale.py
/venv/lib/python2.7/no-global-site-packages.txt
/venv/lib/python2.7/ntpath.py
/venv/lib/python2.7/orig-prefix.txt
/venv/lib/python2.7/os.py
/venv/lib/python2.7/os.pyc
/venv/lib/python2.7/posixpath.py
/venv/lib/python2.7/posixpath.pyc
/venv/lib/python2.7/re.py
/venv/lib/python2.7/re.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/EGG-INFO/PKG-INFO
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/EGG-INFO/SOURCES.txt
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/EGG-INFO/dependency_links.txt
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/EGG-INFO/entry_points.txt
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/EGG-INFO/top_level.txt
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/EGG-INFO/zip-safe
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/easy_install.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/easy_install.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/pkg_resources.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/pkg_resources.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/__init__.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/__init__.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/archive_util.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/archive_util.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/cli-32.exe
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/cli-64.exe
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/cli.exe
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/__init__.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/__init__.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/alias.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/alias.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/bdist_egg.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/bdist_egg.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/bdist_rpm.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/bdist_rpm.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/bdist_wininst.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/bdist_wininst.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/build_ext.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/build_ext.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/build_py.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/build_py.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/develop.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/develop.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/easy_install.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/easy_install.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/egg_info.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/egg_info.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/install.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/install.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/install_egg_info.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/install_egg_info.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/install_lib.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/install_lib.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/install_scripts.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/install_scripts.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/register.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/register.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/rotate.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/rotate.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/saveopts.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/saveopts.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/sdist.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/sdist.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/setopt.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/setopt.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/test.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/test.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/upload.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/upload.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/upload_docs.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/command/upload_docs.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/depends.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/depends.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/dist.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/dist.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/extension.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/extension.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/gui-32.exe
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/gui-64.exe
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/gui.exe
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/package_index.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/package_index.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/sandbox.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/sandbox.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/__init__.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/__init__.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/doctest.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/doctest.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/server.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/server.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_build_ext.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_build_ext.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_develop.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_develop.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_easy_install.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_easy_install.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_packageindex.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_packageindex.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_resources.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_resources.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_sandbox.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_sandbox.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_upload_docs.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/setuptools/tests/test_upload_docs.pyc
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/site.py
/venv/lib/python2.7/site-packages/distribute-0.6.24-py2.7.egg/site.pyc
/venv/lib/python2.7/site-packages/easy-install.pth
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/EGG-INFO/PKG-INFO
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/EGG-INFO/SOURCES.txt
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/EGG-INFO/dependency_links.txt
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/EGG-INFO/entry_points.txt
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/EGG-INFO/not-zip-safe
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/EGG-INFO/top_level.txt
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/__init__.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/__init__.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/_pkgutil.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/_pkgutil.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/backwardcompat.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/backwardcompat.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/basecommand.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/basecommand.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/baseparser.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/baseparser.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/__init__.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/__init__.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/bundle.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/bundle.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/completion.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/completion.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/freeze.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/freeze.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/help.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/help.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/install.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/install.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/search.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/search.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/uninstall.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/uninstall.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/unzip.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/unzip.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/zip.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/commands/zip.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/download.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/download.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/exceptions.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/exceptions.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/index.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/index.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/locations.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/locations.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/log.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/log.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/req.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/req.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/runner.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/runner.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/status_codes.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/status_codes.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/util.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/util.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/__init__.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/__init__.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/bazaar.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/bazaar.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/git.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/git.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/mercurial.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/mercurial.pyc
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/subversion.py
/venv/lib/python2.7/site-packages/pip-1.1-py2.7.egg/pip/vcs/subversion.pyc
/venv/lib/python2.7/site-packages/setuptools.pth
/venv/lib/python2.7/site.py
/venv/lib/python2.7/site.pyc
/venv/lib/python2.7/sre.py
/venv/lib/python2.7/sre_compile.py
/venv/lib/python2.7/sre_compile.pyc
/venv/lib/python2.7/sre_constants.py
/venv/lib/python2.7/sre_constants.pyc
/venv/lib/python2.7/sre_parse.py
/venv/lib/python2.7/sre_parse.pyc
/venv/lib/python2.7/stat.py
/venv/lib/python2.7/stat.pyc
/venv/lib/python2.7/types.py
/venv/lib/python2.7/types.pyc
/venv/lib/python2.7/warnings.py
/venv/lib/python2.7/warnings.pyc
/venv/local/bin
/venv/local/include
/venv/local/lib

.idea/.name

.idea/encodings.xml

.idea/headfirst.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
