/ch2/nester/dist/nester-1.4.0.tar.gz
/man_data.txt
/other_data.txt
/py3env
/venv

.idea/.name

.idea/encodings.xml

.idea/headfirst.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

__pycache__/nester.cpython-34.pyc
